[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
prospector = "*"
black = "*"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-environ = "*"
gunicorn = "*"
django-registration-redux = "*"
django-storages = {extras = ["azure"], version = "*"}
pytest = "*"
pytest-django = "*"
django-restframework = "*"
django-imagekit = "*"
pillow = "*"
django-taggit = "*"
azure-mgmt-resource = "*"
azure-mgmt-media = "==1.1.1"
ipython = "*"
django-materializecss-form = "*"
moviepy = "*"
prospector = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
