
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% fontawesome_5_static %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="css/fontawesome.css">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Playfair+Display:wght@900&display=swap">
	<title>{% block title %}StudioPal{% endblock %}</title>
</head>
  <body>
		<nav>
			<div class="nav-wrapper">
				<a href="{% url 'landing_page' %}" class="brand-logo">
					<div id="logo-container">
						<span id="logo-studio">Studio</span><span id="logo-pal">Pal.</span>
					</div>
				</a>
				<ul class="right hide-on-med-and-down">
				{% if not user.is_authenticated %}
					<li>
						<a href="{% url 'auth_login' %}">
							Login
						</a>
					</li>
					<li>
						<a href="{% url 'registration_register' %}">
							Sign up
						</a>
					</li>
				{% else %}
					<a href="{% url 'studio_detail' user_pk=user.pk %}">
					<li id="nav-item-username">
						<div class="nav-item-with-icon-container">
						<div id="avatar"
						<img class="col s3 left" id="video-card-avatar" src="{{ user.image_medium.url }}">
						</div>
						Hey, {{ user.username }}!
						</div>
						</a>
					</li>
					<li class="row">
						<div class="input-field nav-item-with-icon-container">
							<span>{% fa5_icon 'search fa-sm' %}</span>
							<input id="search" type="search" placeholder="search" required>
						</div>
					</li>
					{% if user.studio_name %}
						<li>
						<a href="{% url 'add_studio_info' user_pk=user.pk %}">
						<div class="nav-item-with-icon-container">
							<span>{% fa5_icon 'chalkboard-teacher fa-sm' %}</span>
							Edit Studio
						</div>
					</a>
						<li>
						<a href="{% url 'studio_detail' user_pk=user.pk %}">
							<div class="nav-item-with-icon-container">
								<span>{% fa5_icon 'chalkboard-teacher fa-sm' %}</span>
								Upload a video
							</div>
						</a>
						</li>
						{% else %}
							<li>
							<a href="{% url 'add_studio_info' user_pk=user.pk %}">
							<div class="nav-item-with-icon-container">
							<span>{% fa5_icon 'chalkboard-teacher fa-sm' %}</span>
							Create Studio
							</div>
							</a>
							</li>
					{% endif %}
					<li><a href="{% url 'auth_logout' %}">Logout</a></li>
				</ul>
				{% endif %}
			</div>
		</nav>
		<div class="container">
		</div>		
		{% block content %} 
		{% endblock %}
  </body>
</html>
