{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
<div id="hero-img-container" style="align-items: center; flex-direction: column;">
  <img id="hero-img" style="width: 750px; "src="{% static 'img/studio_pal_personal_trainer.png'%}">
    <div style="line-height: 0px;">
    <h2>Create studio</h2>
    <span id="cta-subtitle" style="font-weight: 600;">Fill out the form below to get started as an instructor.</span>
  </div>
</div>
</div>


<form action= "{% url 'add_instructor_info' user_pk=user.pk %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit' class='button'>Submit</button>
</form>
</div>
{% endblock %}       