{% extends "base.html" %} {% load static %} {% block content %}
<div class="container" style="height: 100%; justify-content: center; display: flex">
  <div class="row">
    {% if user.studio_name %}
      <h5>Edit studio</h5>
      {% else %}
        <h5>Create studio</h5>
        <p style="margin: 0px;"><span style="font-weight: 600; font-size: 13px;" id="cta-subtitle">Fill out the form below to get started as an instructor.</span
        ></p>
      {% endif %}
    <div class="card"  style="width: 800px">
      <div class="card-content">
          <form
          action="{% url 'add_studio_info' user_pk=user.pk %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
