{% extends "base.html" %} {% load static %} {% block content %}
<div class="container" style="padding-top: 125px">
  <div class="row">
    {% if user.user_bio%}
    <h5>Edit profile</h5>
    {% else %}
    <h5>Edit profile</h5>
    <p style="margin: 0px;">
      <span
        id="cta-subtitle"
        style="font-weight: 600; font-size: 13px; margin: 0;"
        >Fill out the form below to get your fitness journey started!</span
      >
    </p>
    {% endif %}
    <div class="card" style="width: 800px">
      <div class="card-content">
        <form
          action="{% url 'add_user_info' user_pk=user.pk %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
