{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
  {% if not user.is_authenticated %}
  <div style="margin-top: 65px">
    <h2 id="cta-title">With StudioPal your home is your fitness studio.</h2>
    <span id="cta-subtitle">Stay safe, stay fit, stay connected.</span>
  </div>
  {% endif %}
  <section>
    <div class="row">
      <h5 style="margin-top: 75px; padding-left: 10px">Latest sessions</h5>
      {% for video in videos %}
      <div class="col m4">
        <div class="card small">
          <div class="card-image" style="height: 100%">
            <a href="{% url 'video_detail' video_pk=video.pk %}">
              <img style="height: 100%" src="{{ video.video_thumbnail.url }}" />
            </a>
          </div>
          <div class="card-content row">
            <a href="{% url 'studio_detail' user_pk=video.creator.pk %}">
              <img
                class="col s3 left"
                id="video-card-avatar"
                src="{{ video.creator.image_medium.url }}"
              />
            </a>
            <div class="col s8 right" style="padding: 0px">
              <span class="truncate" id="video-card-title"
                ><a href="{% url 'video_detail' video_pk=video.pk %}"
                  >{{ video.title }}</a
                ></span
              >
              <p id="video-card-date">{{ video.publish_date }}</p>
              <p id="video-card-details">
                <a href="{% url 'studio_detail' user_pk=video.creator.pk %}"
                  >{{ video.creator }}</a
                >
                | {{ video.liked_by.count }} <i class="icon fas fa-sm fa-heart"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <h5 style="margin-top: 75px; padding-left: 10px">Favorited sessions</h5>
      {% for video in user.liked_videos.all %}
      <div class="col m4">
        <div class="card small">
          <div class="card-image" style="height: 100%">
            <a href="{% url 'video_detail' video_pk=video.pk %}">
              <img style="height: 100%" src="{{ video.video_thumbnail.url }}" />
            </a>
          </div>
          <div class="card-content row">
            <a href="{% url 'studio_detail' user_pk=video.creator.pk %}">
              <img
                class="col s3 left"
                id="video-card-avatar"
                src="{{ video.creator.image_medium.url }}"
              />
            </a>
            <div class="col s8 right" style="padding: 0px">
              <span class="truncate" id="video-card-title"
                ><a href="{% url 'video_detail' video_pk=video.pk %}"
                  >{{ video.title }}</a
                ></span
              >
              <p id="video-card-date">{{ video.publish_date }}</p>
              <p id="video-card-details">
                <a href="{% url 'studio_detail' user_pk=video.creator.pk %}"
                  >{{ video.creator }}</a
                >
                | {{ video.liked_by.count }} <i class="icon fas fa-sm fa-heart"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% if not user.liked_videos.all %}
      <div class="card empty-state">
        <div class="card-content">
          No favorited sessions yet.
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
