{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
{% if not user.is_authenticated %}
  <div id="hero-img-container" class="row">
    <div class="col s6" id="hero-copy-container">
      <h2 id="cta-title">With StudioPal your home is your fitness studio.</h2>
      <span id="cta-subtitle">Stay safe, stay fit, stay connected.</span>
    </div>
  </div>
  {% endif %}
  <section>
    <div class="row">
      <h5 style="margin-top: 75px; padding-left: 10px">Latest Sessions</h5>
      {% for video in videos %}
      <div class="col m4">
        <div class="card small">
          <div class="card-image" style="height: 100%">
            <a href="{% url 'video_detail' video_pk=video.pk %}">
              <img style="height: 100%" src="{{ video.video_thumbnail.url }}" />
            </a>
          </div>
          <a href="{% url 'studio_detail' user_pk=video.creator.pk %}">
          <div class="card-content row">
            <img
              class="col s3 left"
              id="video-card-avatar"
              src="{{ video.creator.image_medium.url }}"
            />
            <div class="col s8 right" style="padding: 0px">
              <span class="truncate" id="video-card-title"
                >{{ video.title }}</span
              >
              <p id="video-card-date">{{ video.publish_date }}</p>
              <p id="video-card-details">
                {{ video.creator }} | {{ video.likes }} like(s)
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <h5 style="margin-top: 75px; padding-left: 10px">Liked Sessions</h5>
      {% for video in user.liked_videos.all %}
      <div class="col m4">
        <div class="card small">
          <div class="card-image" style="height: 100%">
            <a href="{% url 'video_detail' video_pk=video.pk %}">
              <img style="height: 100%" src="{{ video.video_thumbnail.url }}" />
            </a>
          </div>
          <a href="{% url 'studio_detail' user_pk=video.creator.pk %}">
          <div class="card-content row">
            <img
              class="col s3 left"
              id="video-card-avatar"
              src="{{ video.creator.image_medium.url }}"
            />
            <div class="col s8 right" style="padding: 0px">
              <span class="truncate" id="video-card-title"
                >{{ video.title }}</span
              >
              <p id="video-card-date">{{ video.publish_date }}</p>
              <p id="video-card-details">
                {{ video.creator }} | {{ video.liked_by.count }} like(s)
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </section>
</div>
{% endblock %}
