{% extends 'base.html' %} {% block content %}
{% load static %}
<div>
<div class="container">
<div style="display: flex; flex-direction: row; margin-top: 50px; margin-bottom: 50px">
  <img style="width: 650px" src="{% static 'img/studio_pal_hero_bike.png'%}">
  <div style="display: flex; flex-direction: column; margin-left: -150px">
    <h2 style="font-family: Playfair Display; color: #6767f6;">Cupcakes fixie herald sun the indy nccu art of cool.</h2>
    <span style="font-family: Open sans; font-weight: 400; color: #323140; font-size: 20px">Blues french press the state of things northgate park.</span>
  </div>
</div>
  <h4 style="padding-left: 10px; font-family: Open Sans; font-weight: 800; color: #6767f6 ">Latest Sessions</h4>
  <section>
    <div class="row">
      {% for video in videos %}
      <div class="col m4">
          <div class="card">
            <div class="card-image">
              <img src="http://unsplash.it/250/150?gravity=center">
            </div>
            <div class="card-content">
              <span style="font-family: Open Sans; font-weight: 400;" class="card-title activator grey-text text-darken-4">Card Title</span>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
  </section>
  <section>
  <h4 style="padding-left: 10px; font-family: Open Sans; font-weight: 800; color: #6767f6 ">Favorite Sessions</h4>
    <div class="row">
      <div class="col m4">
        <div class="card">
          <div class="card-image">
            <img src="http://unsplash.it/250/150?gravity=center">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
