{% extends 'base.html' %} 
{% block content %} 
<div class="container">
  <div class="card profile-card">
    <div class="bio-img-container">
    <div class="row" style="margin-bottom: 0px">
      <img
        class="circle"
        src="{{ user.image_medium.url }}"
        style="margin-bottom: 10px;"
    />
    </div>
      <p>Studio created on: {{ user.joined_date }}</p>
    </div>
    <div class="studio-bio-container">
      <h2>{{ user.username }}'s Studio</h2>
      <div>{{ user.bio }}</div>
      {% if user.pk is request.user.pk %}
      <a class="btn edit-bio-btn" href="{% url 'add_studio_info' user_pk=user.pk %}">Edit studio</a>
      {% endif %}
    </div>
  </div>
  <div>
  {%  if user.paypal_donation_url %}
      <a class="btn" href= "{{ user.paypal_donation_url }}" target="_blank" style="color:#ffffff"><span><i class="fas fa-sm fa-donate"></i></span> Donate</a>
      {% endif %}
  </div>
  <section>
    <div class="row">
      <h5 style="margin-top: 75px; padding-left: 10px">{{ user.username }}'s Sessions</h5>
      {% for video in user.videos.all %}
      <div class="col m4">
        <div class="card small">
          <div class="card-image" style="height: 100%">
            <a href="{% url 'video_detail' video_pk=video.pk %}">
              <img style="height: 100%" src="{{ video.video_thumbnail.url }}" />
            </a>
          </div>
          <a href="{% url 'studio_detail' user_pk=video.creator.pk %}">
          <div class="card-content row">
            <img
              class="col s3 left"
              id="video-card-avatar"
              src="{{ video.creator.image_medium.url }}"
            />
            <div class="col s8 right" style="padding: 0px">
              <span class="truncate" id="video-card-title"
                >{{ video.title }}</span
              >
              <p id="video-card-date">{{ video.publish_date }}</p>
              <p id="video-card-details">
                {{ video.creator }} | {{ video.liked_by.count }} like(s)
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <section>
    <div class="row">
      <h5 style="margin-top: 75px; padding-left: 10px">{{ user.username }}'s Favorite Sessions</h5>
      {% for video in user.liked_videos.all %}
      <div class="col m4">
        <div class="card small">
          <div class="card-image" style="height: 100%">
            <a href="{% url 'video_detail' video_pk=video.pk %}">
              <img style="height: 100%" src="{{ video.video_thumbnail.url }}" />
            </a>
          </div>
          <a href="{% url 'studio_detail' user_pk=video.creator.pk %}">
          <div class="card-content row">
            <img
              class="col s3 left"
              id="video-card-avatar"
              src="{{ video.creator.image_medium.url }}"
            />
            <div class="col s8 right" style="padding: 0px">
              <span class="truncate" id="video-card-title"
                >{{ video.title }}</span
              >
              <p id="video-card-date">{{ video.publish_date }}</p>
              <p id="video-card-details">
                {{ video.creator }} | {{ video.liked_by.count }} like(s)
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}