{% extends 'base.html' %} {% block content %}

{% load comment_tags %}
{% include_bootstrap %}
{% include_static %}

<video width="530" height="440" controls>
  <source src="{{ video.video.url }}" type="video/mp4" />
  <source src="{{ video.video.url }}" type="video/x-flv" />
  <source src="{{ video.video.url }}" type="video/MP2T" />
  <source src="{{ video.video.url }}" type="video/3gpp" />
  <source src="{{ video.video.url }}" type="video/3gpp2" />
  <source src="{{ video.video.url }}" type="video/3gpp-tt" />
  <source src="{{ video.video.url }}" type="video/quicktime" />
  <source src="{{ video.video.url }}" type="video/x-msvideo" />
  <source src="{{ video.video.url }}" type="video/x-ms-wmv" />
  <source src="{{ video.video.url }}" type="video/webm" />
  <source src="{{ video.video.url }}" type="video/ogg" />
  <source src="{{ video.video.url }}" type="video/H264" />
  <source src="{{ video.video.url }}" type="video/H264-RCDO" />
  <source src="{{ video.video.url }}" type="video/H264-SVC" />
</video>




<script>
<div id="comments_container" class="pt4 ml5 mb4">
        <div id="comments_div" class="comments" style="padding: 10px;">
        <div id="comments_body" class="comments" style="padding: 10px;">
            <div id="comments_text" class="comments" style="padding: 10px;">
                    {{ comment.text | linebreaks }}
                <p class="comment_author"></p>
                    by <span class="font-weight-bold">{{comment.author}}</span>
            </div>
            </div> 
<button id="comment_button"></button>
const commentBox = document.getElementById("comment_box")
const commentButton = document.getElementById("comment_button")
const commentContainer = document.getElementById("comments_div")
commentButton.add_comment("click", (e) => {
e.preventDefault()
const videoId = commentButton.dataset['video_id']
let text = commentBody.value //event listener
commentBody.value = "" //grabbing value from the form and creating a js object with it in event template.
var p = document.createElement("div")
let data = { "comment.text" : comment.text }

if (text.length > 0) {
        fetch(`/core/${videoId}/add_comment`, {
            method: 'POST',
            body: JSON.stringify({data}), //html string
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then(res => res.json())
            .then(data => {
                p.innerHTML = data.html
                commentContainer.appendChild(p)
            })
        } 
    })
})


</script>


{% endblock content %}


