{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="row">
    <video class="col s12" controls>
      <source src="{{ video.video.url }}" type="video/mp4" />
      <source src="{{ video.video.url }}" type="video/x-flv" />
      <source src="{{ video.video.url }}" type="video/MP2T" />
      <source src="{{ video.video.url }}" type="video/3gpp" />
      <source src="{{ video.video.url }}" type="video/3gpp2" />
      <source src="{{ video.video.url }}" type="video/3gpp-tt" />
      <source src="{{ video.video.url }}" type="video/quicktime" />
      <source src="{{ video.video.url }}" type="video/x-msvideo" />
      <source src="{{ video.video.url }}" type="video/x-ms-wmv" />
      <source src="{{ video.video.url }}" type="video/webm" />
      <source src="{{ video.video.url }}" type="video/ogg" />
      <source src="{{ video.video.url }}" type="video/H264" />
      <source src="{{ video.video.url }}" type="video/H264-RCDO" />
      <source src="{{ video.video.url }}" type="video/H264-SVC" />
    </video>

  </div>
  {%  if video.creator.paypal_donation_url  %}
<div class="donate">
  <a href= "{{ video.creator.paypal_donation_url }}" style="color:#ffffff"><span><i class="fas fa-sm fa-donate"></i></span> Donate</a>
</div>
  {% endif %}
    <h3>{{ video.title }}</h3>
    <h5>{{ video.liked.count }}</h5>

    <p>published date</p>
    <p>{{ video.description }}</p>
    {% if user.studio_name %}
    <div class="card-img" border-radius:50%;>
      <img src="{{ user.image_medium.url }}" />
    </div>
    {% endif %}


  <div id="comments-container" class="pt4 ml5 mb4">
    {% for comment in video.comments.all reversed %}
    <div class="comment" style="padding: 10px;">
      <p class="comment-text">{{ comment.text }}</p>
      <p class="comment-date">{{comment.pub_date}}</p>
      <p class="comments-author">
        by <span class="font-weight-bold">{{ comment.author }}</span>
      </p>
    </div>
    {% endfor %}
  </div>
  {% if user.is_authenticated %} 
  <div class="comment-form">
    {% csrf_token %}
    <textarea id="comment-form"></textarea>
    <button id="comment-button">Add Comments</button>
  </div>
  <script>
    const commentButton = document.querySelector("#comment-button")
    commentButton.addEventListener("click", function(){
        console.log("button clicked")
        const csrfToken = document.querySelector("input[name='csrfmiddlewaretoken']").value
        let commentInput = document.getElementById("comment-form")
        const videoID =  {{ video.pk }}
        fetch(`/studiopal/add_comment/${videoID}/`, {
            method: 'POST',
            body: JSON.stringify({"text": commentInput.value }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
                'X-CSRFToken': csrfToken
            }
        })
        .then(res => res.json())
            .then(data => {
                console.log("Response returned")
                console.log(data)
                const commentsContainer = document.querySelector('#comments-container')
                const newDiv = document.createElement("div")
                newDiv.className="comment"
                newDiv.style="padding: 10px;"
                newDiv.innerHTML = data.html
                commentsContainer.appendChild(newDiv)
                commentInput.value =''
            })
        })
  </script>
  {% else %}
  <a href="{% url 'registration_register' %}"><p style = "color: #7787e2";>Register to Comment</p></a>
  {% endif %}
  {% endblock %}
</div>
