{% extends 'base.html' %} {% block content %}

{% load comment_tags %}
{% include_bootstrap %}
{% include_static %}

<video width="530" height="440" controls>
  <source src="{{ video.video.url }}" type="video/mp4" />
  <source src="{{ video.video.url }}" type="video/x-flv" />
  <source src="{{ video.video.url }}" type="video/MP2T" />
  <source src="{{ video.video.url }}" type="video/3gpp" />
  <source src="{{ video.video.url }}" type="video/3gpp2" />
  <source src="{{ video.video.url }}" type="video/3gpp-tt" />
  <source src="{{ video.video.url }}" type="video/quicktime" />
  <source src="{{ video.video.url }}" type="video/x-msvideo" />
  <source src="{{ video.video.url }}" type="video/x-ms-wmv" />
  <source src="{{ video.video.url }}" type="video/webm" />
  <source src="{{ video.video.url }}" type="video/ogg" />
  <source src="{{ video.video.url }}" type="video/H264" />
  <source src="{{ video.video.url }}" type="video/H264-RCDO" />
  <source src="{{ video.video.url }}" type="video/H264-SVC" />
</video>

<form action="{% url 'add_comment' video_pk=video.pk %}" method="POST">
  {% csrf_token %} {{ form.as_p }}

  <button type="submit">Add Comment</button>
</form>

{% for comment in video.comments.all reversed %}
<p>{{ comment.text }}</p>
<p>{{comment.author}}<span> | </span>{{comment.pub_date}}</p>
<a href="{% url 'delete_comment' comment_pk=comment.pk %}"
  ><button>Delete</button></a
>
<!-- {% render_comments video request %} -->


{% endfor %} {% endblock %}
